
body {
	font-family: 'Shippori Antique', sans-serif;
}


#svelte {
	min-height: 100vh;
	display: flex; 
	flex-direction: column;
}

.active {
	background: rgb(0,93,221);
	background: linear-gradient(90deg, rgba(0,93,221,1) 0%, rgba(0,191,230,1) 100%);
	-webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
} 




h1 {
	font-size: 60px;
	text-align: center;
	color: #84D2F6;
	background: rgb(0,93,221);
background: linear-gradient(90deg, rgba(0,93,221,1) 0%, rgba(0,191,230,1) 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 9px;
  font-weight: 400;
  margin: 0px;
}
 
h2 {
	font-size: 30px;
	text-align: center;
	color: #84D2F6;
	background: rgb(0,93,221);
background: linear-gradient(90deg, rgba(0,93,221,1) 0%, rgba(0,191,230,1) 100%);
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 8px;
  font-weight: 400;
}

.inner {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(255,255,255,0.9);
	padding: 20px;
	max-width: 700px;
	border-radius: 5px;
}

section {
	display: flex;
	align-items: center;
	justify-content: center;		
	padding: 20px;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
